/* 공통 부분 (common, input, btn ....) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}
.title {
    font-size: 24px;
    margin-bottom: 20px;
    width: 100%; /* 입력 그룹의 너비를 100%로 설정 */
    max-width: 400px; /* 입력 그룹의 최대 너비 설정 */
}
.header {
    background-color: #d3d3d3;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px (0, 0, 0, 0.1);
    z-index: 1000;
}
.header .logo {
    padding-left: 100px;
    font-size: 24px;
    font-weight: bold;
}
.header .nav {
    padding-right: 100px;
    display: flex;
    align-items: center;
}
.header .nav div {
    margin-right: 20px;
    font-size: 16px;
}
.header .nav button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
}
.footer {
    background-color: #d3d3d3;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0; /* 화면의 왼쪽 끝에 위치하도록 설정 */
}


.input-group {
    margin-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input-group input, .input-group select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* 박스 크기를 테두리와 패딩을 포함하도록 설정 */
}
.input-group input[type="file"] {
    padding: 5px; /* 입력 요소의 패딩 설정  */
}
.input-group input[type="text"]:not(:first-child) {
    margin-top: 5px; /* 생년월일 입력 필드 간의 간격 설정 */
}
.input-label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}
.btn {
    width: 85%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background-color: #333;
    text-decoration: underline;
}

.more-btn {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: right;
    float: right;
}

.more-btn:hover {
    text-decoration: underline;
}
        
.link {
    margin-top: 10px;
    font-size: 14px;
}
.home-button {  /* 홈페이지로 돌아가기 버튼 */
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

/**************************************************************************************************
***************************************************************************************************
***************************************************************************************************/

/* 메인화면 (mainpage.html) */
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline; 
}
.main-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding-left: 100px;
    padding-right: 100px;

}
.main-section {
    background-color: #fcdada;
    width: 45%;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 20px;
}
.main-section img {
    width: 200px; /* 이미지 너비를 200px로 설정 */
    height: auto;
}
.main-section p {
    font-size: 20px;
    font-weight: bold;
}

.main-content {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding-left: 85px;
    padding-right: 85px;
}
.main-content .left, .main-content .right {
    width: 45%;
}
.main-content table {
    width: 100%;
    border-collapse: collapse;
}
.main-content th, .main-content td {
    padding: 10px;
    text-align: left;
}
.main-content th {
    background-color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #000;
}
.main-content td {
    border-bottom: 1px solid #000;
}
.main-content .right th, .main-content .right td {
    text-align: center;
}
.main-content .right td {
    border-bottom: 1px solid blue;
}

/**************************************************************************************************
***************************************************************************************************
***************************************************************************************************/

/* 로그인 화면 (login.html) */
.login-container {
    width: 400px;
    padding: 120px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    margin: 0 auto; /* 가운데 정렬을 위해 margin 설정 */
}
.login-container .input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-container .input-group input {
    width: 100%; /* 입력 필드의 너비를 100%로 설정 */
    max-width: 300px; /* 최대 너비를 설정하여 중앙 정렬 */
}

/**************************************************************************************************
***************************************************************************************************
***************************************************************************************************/

/* 회원가입 화면(signup) */
.signup-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding-top: 330px;  /* 위쪽 패딩 추가 */
    padding-bottom: 100px;  /* 아래쪽 패딩 추가 */
    
}
.signup-container {
    width: 350px;
    padding: 100px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}
/* 회원가입 화면(signup) 특정 스타일 */
.signup-container .input-group {
    align-items: center; /* 중앙 정렬 */
    padding-left: 0; /* 회원가입 화면에서만 왼쪽 패딩 제거 */
}
.signup-container .input-label {
    align-items: right; 
    padding-left: 0; /* 회원가입 화면에서만 왼쪽 패딩 제거 */
}
/* 아이디 체크 스타일 */
#username-message {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: red; /* 기본 색상 */
}
#username-message.available {
    color: green;
}
/* 비밀번호 체크 스타일 */
#password-message {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: red; /* 기본 색상 */
}
#password-message.available {
    color: green;
}

/**************************************************************************************************
***************************************************************************************************
***************************************************************************************************/

/* 마이페이지 (mypage) */
.mypage-container {
    display: flex;
}
.rental-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}
.rental-container h2 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
}
.rental-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #d3d3d3;
    margin-bottom: 20px;
}
.rental-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}
.rental-table img {
    width: 40px;
    height: 40px;
}
.register-button-container {
    text-align: right;
    margin-bottom: 10px;
}
.register-button {
    background-color: #ccc;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.register-button:hover {
    background-color: #aaa;
}
.mypage-sidebar {
    width: 200px;
    background-color: #fcdada;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
}
.mypage-sidebar button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

/**************************************************************************************************
***************************************************************************************************
***************************************************************************************************/

/* 내정보수정 (myinfo) */
.myinfo {
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}
.myinfo h2 {
    text-align: center;
    margin-bottom: 20px;
}
.myinfo .info-table {
    width: 100%;
    border-collapse: collapse;
    padding-bottom: 100px
}
.myinfo .info-table td {
    padding: 10px;
    border: 1px solid #ccc;
}
.myinfo input[type="text"],
.myinfo input[type="email"],
.myinfo input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.myinfo .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.myinfo button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.myinfo button[type="button"] {
    background-color: #ccc;
    color: black;
}

.myinfo button:hover {
    opacity: 0.8;
}

/**************************************************************************************************
***************************************************************************************************
***************************************************************************************************/

/* 알림내역 (myalarm) */
.notifications-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}
.notifications-container h2 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
}
.notifications-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #d3d3d3;
}
.notifications-table td {
    padding: 15px;
    border: 1px solid #ccc;
}


/**************************************************************************************************
***************************************************************************************************
***************************************************************************************************/

/* 문의하기/내역확인 (myinquiry) */
.inquiry-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}
.inquiry-container h2 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
}
.inquiry-box {
    background-color: #d3d3d3;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
}
.inquiry-box p {
    margin: 0;
}
.status-box {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}
.inquiry-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #d3d3d3;
    text-align: center; /* 테이블 내용 가운데 정렬 */
}

.inquiry-table th, .inquiry-table td {
    padding: 15px;
    border: 1px solid #ccc;
    vertical-align: middle; /* 수직 가운데 정렬 */
}

/**************************************************************************************************
***************************************************************************************************
***************************************************************************************************/

/* 공지사항(noticeboard) */
section.noticeboard {
    padding: 80px 0;
}

.noticeboard-title {
    margin-bottom: 60px;
}
.noticeboard-title h3 {
    font-size: 28px;
    color: #333333;
    font-weight: 400;
    text-align: center;
}

#board-search .search-window {
    padding: 15px 0;
    background-color: #f9f7f9;
}
#board-search .search-window .search-wrap {
    position: relative;
/*   padding-right: 124px; */
    margin: 0 auto;
    width: 80%;
    max-width: 564px;
}
#board-search .search-window .search-wrap input {
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 7px 14px;
    border: 1px solid #ccc;
}
#board-search .search-window .search-wrap input:focus {
    border-color: #333;
    outline: 0;
    border-width: 1px;
}
#board-search .search-window .search-wrap .noticeboard-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 108px;
    padding: 0;
    font-size: 16px;
}

.board-table {
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.board-table a {
    color: #333;
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
}
.board-table a:hover {
    text-decoration: underline;
}
.board-table th {
    text-align: center;
}

.board-table .th-num {
    width: 100px;
    text-align: center;
}

.board-table .th-date {
    width: 200px;
}

.board-table th, .board-table td {
    padding: 14px 0;
}

.board-table tbody td {
    border-top: 1px solid #e7e7e7;
    text-align: center;
}

.board-table tbody th {
    padding-left: 28px;
    padding-right: 14px;
    border-top: 1px solid #e7e7e7;
    text-align: left;
}

.board-table tbody th p{
    display: none;
}

.noticeboard-btn {
    display: inline-block;
    padding: 0 30px;
    font-size: 15px;
    font-weight: 400;
    background: transparent;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.noticeboard-btn-dark {
    background: #555;
    color: #fff;
}

.noticeboard-btn-dark:hover, .noticeboard-btn-dark:focus {
    background: #373737;
    border-color: #373737;
    color: #fff;
}


/* reset */

    .noticeboard-container {
    width: 1100px;
    margin: 0 auto;
}
    .noticeboard-blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

/**************************************************************************************************
***************************************************************************************************
***************************************************************************************************/

/* item창 (itempage) */
.item-main-content {
    display: flex;
    padding: 20px;
}
.item-sidebar {
    flex: 1;
    padding: 20px;
    background-color: #ececec;
    border-radius: 10px;
    margin-right: 20px;
    text-align: center;
}
.item-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}
.item-category p {
    margin: 0;
}
.item-icon img {
    width: 30px;
    height: 30px;
}
.item-product-image img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.item-thumbnail-images img {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}
.item-product-details {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}
.item-product-details h1 {
    margin-top: 0;
}
.item-search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.item-search input {
    padding: 5px;
    margin-right: 5px;
}
.item-product-details ul {
    list-style-type: none;
    padding: 0;
}
.item-product-details ul li {
    margin-bottom: 10px;
}
.item-product-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item-product-details table, 
.item-product-details table td {
    border: 1px solid #ccc;
}
.item-product-details table td {
    padding: 10px;
}
.item-shipping-details {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc; /* 경계선을 추가하여 구분 */
}
.item-rent-button {
    background-color: black;
    color: white;
    padding: 20px 30px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* 상단 간격 추가 */
}
.item-rent-button:hover {
    background-color: #333;
}

/**************************************************************************************************
***************************************************************************************************
***************************************************************************************************/

/* laptop.jsp 관련 CSS */
.laptop-main-content {
    padding: 20px;
}

.laptop-keywords {
    margin-bottom: 20px;
}

.laptop-keywords h2 {
    text-align: center;
}

.laptop-keyword-box {
    display: flex;
    justify-content: center;
    background-color: #f7e6e6;
    padding: 10px;
    border-radius: 10px;
}

.laptop-keyword-box span {
    margin: 0 10px;
    font-size: 18px;
}

.laptop-search {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.laptop-search input {
    padding: 5px;
    margin-right: 5px;
}

.laptop-item-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.laptop-item {
    background-color: #ececec;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    width: 200px;
}

.laptop-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover; /* 이미지를 요소 크기에 맞게 조절 */
}

.laptop-item p {
    margin: 10px 0;
}


/**************************************************************************************************
***************************************************************************************************
***************************************************************************************************/

/* tablet창 (tablet.html) */
.tablet-main-content {
    padding: 20px;
}
.tablet-keywords {
    margin-bottom: 20px;
}
.tablet-keywords h2 {
    text-align: center;
}
.tablet-keyword-box {
    display: flex;
    justify-content: center;
    background-color: #f7e6e6;
    padding: 10px;
    border-radius: 10px;
}
.tablet-keyword-box span {
    margin: 0 10px;
    font-size: 18px;
}
.tablet-search {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.tablet-search input {
    padding: 5px;
    margin-right: 5px;
}
.tablet-item-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tablet-item {
    background-color: #ececec;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    width: 200px;
}
.tablet-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

/**************************************************************************************************
***************************************************************************************************
***************************************************************************************************/

/* 이용약관 (terms.html) */
.terms-body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.terms-container {
    padding: 20px;
}

.terms-title {
    color: #333;
}

.terms-heading {
    color: #333;
}

.terms-paragraph {
    margin: 10px 0;
}

.terms-list {
    margin: 10px 0;
    padding-left: 20px;
}

.terms-list-item {
    margin: 5px 0;
}

.terms-sublist {
    margin: 5px 0;
    padding-left: 20px;
}

.terms-sublist-item {
    margin: 3px 0;
}

.terms-footer {
    margin-top: 20px;
}

/**************************************************************************************************
***************************************************************************************************
***************************************************************************************************/

/* 개인정보 이용약관 (pricacy.html) */
.privacy-body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.privacy-container {
    padding: 20px;
}

.privacy-title {
    color: #333;
}

.privacy-heading {
    color: #333;
}

.privacy-paragraph {
    margin: 10px 0;
}

.privacy-list {
    margin: 10px 0;
    padding-left: 20px;
}

.privacy-list-item {
    margin: 5px 0;
}

.privacy-footer {
    margin-top: 20px;
}

/**************************************************************************************************
***************************************************************************************************
***************************************************************************************************/

/* 임대등록 (registerRent.html) */
.registerRent-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.registerRent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.registerRent-title {
    margin: 0;
    font-size: 20px;
}
.registerRent-form {
    display: flex;
    flex-direction: column;
}
.registerRent-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.registerRent-row {
    display: flex;
    justify-content: space-between;
}
.registerRent-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.registerRent-column:last-child {
    margin-right: 0;
}
.registerRent-subtitle {
    font-size: 16px;
    margin-top: 20px;
}
.registerRent-upload-button {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.registerRent-submit-button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.registerRent-submit-button:hover {
    background-color: #333;
}
#registerRent-spec-section {
    margin-top: 20px;
}
#registerRent-spec-section label {
    font-weight: bold;
    margin-top: 10px;
}
#registerRent-spec-section input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Custom CSS for notice detail page */
.notice-detail-container {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.notice-detail-container h2 {
    font-size: 24px;
    color: #333333;
    border-bottom: 2px solid #333333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.notice-meta {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
}

.notice-meta p {
    margin-left: 20px;
}

.notice-detail-container .content {
    font-size: 16px;
    color: #333333;
    line-height: 1.6;
}

.inquiry-write-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    float: right;
    margin-top: -40px; /* Adjust this value as needed */
}

.inquiry-write-btn:hover {
    background-color: #333;
}


/* 결제창(payment.css) */

.payment-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.payment-container h1, .payment-container h2 {
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

.payment-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.payment-table th, .payment-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.payment-product-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.payment-form {
    display: flex;
    flex-direction: column;
}

.payment-form label {
    margin: 10px 0 5px;
}

.payment-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.payment-button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.payment-button:hover {
    background-color: #444;
}

.payment-cancel-button {
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    cursor: pointer;
    margin-left: 10px;
}

.payment-cancel-button:hover {
    background-color: #f2f2f2;
}

.payment-methods label {
    margin-right: 20px;
}


.payment-agree-terms {
    margin: 20px 0;
}

.address-container {
    display: flex;
    gap: 10px;
}

.half-width {
    width: 48%;
}

.payment-total {
    font-size: 18px;
    margin-top: 20px;
    border-top: 2px solid #ddd;
    padding-top: 10px;
}

.total-details {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.total-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin-bottom: 5px; /* 줄 간격을 줄임 */
}

.final-total {
    border-top: 1px dashed #ccc;
    padding-top: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.final-amount {
    color: red;
}


/* 결제완료(payment-complete) */


.payment-complete-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.payment-complete-container {
    background-color: white;
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.payment-complete-header {
    margin-bottom: 30px;
}

.payment-complete-icon {
    width: 60px;
    height: 60px;
}

.payment-complete-header h1 {
    font-size: 24px;
    margin: 20px 0;
}

.payment-complete-details {
    text-align: left;
    font-size: 18px;
}

.payment-complete-row, .payment-complete-subrow {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.payment-complete-details-box {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #ddd;
}

.payment-complete-footer {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}